<mat-toolbar class="containerbg">
    <span>Pension Management Portal</span>
    <span class="example-spacer"></span>
    <button mat-icon-button color="accent" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
  </mat-toolbar>
<div fxLayoutAlign="center center" fxFlexFill class="container">
    
    <mat-card fxFlex="30" class="containerbg">
        <form fxLayoutAlign="stretch" fxLayout="column" #loginform="ngForm">
            <mat-form-field  >
              
              <input matInput ngModel name="userName" id="userName" placeholder="User name" >
            </mat-form-field>
          
            <mat-form-field  >
                
                <input matInput ngModel name="userPassword" id="userPassword" type="password" placeholder="Password" >
              </mat-form-field>

              <button mat-raised-button type="submit" color="primary">Login</button>
          </form>
          
    </mat-card>
</div>
